{% extends "game/base.html" %}
{% load static %}
{% block content %}
<main>
    <section class="about-area container-fluid" id="intro">
        <div class="container-fluid">
            <div class="row">
                <div class=" col-lg-6 col-md-12 about-title">
                    <h2 class="text-uppercase pt-5">Lucky Code</h2>
                    <div class="paragraph py-4 w-75">
                        <p class="para">
                            <ul>
                                <li>10 QR codes will be assigned to the You.</li>
                                <li>You will have to scan 3 out of 10, 1 of which will take You to Correct location.
                                </li>
                                <li>There will be 10 QR codes, 4 will be empty, 3 will have the correct location with
                                    hidden treasure and 3 will have wrong location. This phase will be entirely on
                                    luck.</li>
                                <li>In the 3 chances if the player is able to fetch the correct right card then only,
                                    he will be promoted to next phase.</li>
                            </ul>

                    </div>
                </div>
                <div class=" col-lg-6 col-md-12 about-title">
                    <div class="paragraph py-4 w-75">
                        <form action="" method="POST"style="color: black;">
                            {% csrf_token %}
                            <label for="1" >First Choice:</label><br>
                            <input type="number" id="fname" name="1" required><br>
                            <label for="2">Second Choice:</label><br>
                            <input type="number" id="lname" name="2" required> <br>
                            <label for="3">Third Choice:</label><br>
                            <input type="number" id="lname" name="3" required> <br> <br>
                            <button class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}