{% extends "game/base.html" %}
{% load static %}
{% block content %}
<main>
    <section class="about-area container-fluid" id="intro">
        <div class="container-fluid">
            <div class="row">
                <div class=" col-lg-6 col-md-12 about-title">
                    <h2 class="text-uppercase pt-5">Level 6</h2>
                    <div class="paragraph py-4 w-75">
                        <p class="para">
                            <ul>
                                <li><strong>Location :</strong>JAWAHAR KALA KENDRA</li>
                                <li> <strong>Treasure:-</strong>Exhibition Area
                                </li>
                            </ul>
                    </div>
                </div>
                <div class=" col-lg-6 col-md-12 about-title">
                    <Strong style="font-size: 200%; color: black;">You Won!!🎉🎉</Strong>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}